<div class="sheet-selection-container">

  <mat-card class="sheet-selection-card">

    <div>
      <mat-form-field class="sheet-selection-form-field">
        <mat-label>Personaggio</mat-label>
        <mat-select [(value)]="selectedCharacter">
          <mat-option *ngFor="let character of characters" [value]="character.id">
            {{character.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button class="sheet-button-bottom" (click)="select()">Seleziona</button>
      <button mat-raised-button class="sheet-button-bottom" (click)="createNew()">Crea nuovo</button>
    </div>

  </mat-card>

</div>
