<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="manual">
        <mat-icon>help</mat-icon>
        <span>Manuale</span>
      </button>
      <button mat-menu-item [routerLink]="['/sheet/creation']">
        <mat-icon>contacts</mat-icon>
        <span>Scheda personaggio</span>
      </button>
      <button mat-menu-item [routerLink]="['/chat']">
        <mat-icon>chat</mat-icon>
        <span>Chat</span>
      </button>
      <button mat-menu-item>
        <mat-icon>forum</mat-icon>
        <span>Forum</span>
      </button>
    </mat-menu>
    <mat-menu #manual="matMenu">
      <button mat-menu-item [routerLink]="['/help/characteristics']">
        <span>Caratteristiche</span>
      </button>
      <button mat-menu-item [routerLink]="['/help/abilities']">
        <span>Conoscenze</span>
      </button>
      <button mat-menu-item [routerLink]="['/help/perks']">
        <span>Peculiarit&agrave;</span>
      </button>
    </mat-menu>
    <span>Eir</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">contacts</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">chat</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
