<div class="example-container">
  <div style="margin-top: 20px;">
    Seleziona il nome e il tipo di personaggio.
  </div>

  <div class="centered-control-container">
    <mat-form-field class="formatted-control">
      <input matInput type="text" placeholder="Nome del personaggio" [(ngModel)]="name" class="form-control">
      <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="centered-control-container">
    <mat-form-field class="formatted-control">
      <mat-select placeholder="Tipo di personaggio" [(ngModel)]="selectedType" class="form-control">
        <mat-option *ngFor="let type of characteristicTypes" [value]="type">{{type.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="centered-control-container">
    <mat-form-field class="formatted-control">
      <mat-select placeholder="Razza del padre" [(ngModel)]="selectedFatherRace" class="form-control">
        <mat-option *ngFor="let race of races" [value]="race">{{race.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="centered-control-container">
      <mat-form-field class="formatted-control">
        <mat-select placeholder="Razza della madre" [(ngModel)]="selectedMotherRace" class="form-control">
          <mat-option *ngFor="let race of races" [value]="race">{{race.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="centered-control-container" *ngIf="showModifiersSelector">
      <mat-checkbox [(ngModel)]="hasModifiers">Vuoi applicare i modificatori di razza?</mat-checkbox>
    </div>

  <div>
    <span [innerHTML]="name"></span> sar&agrave; un
    <span [innerHTML]="completeRace"></span>&nbsp;
    <span [innerHTML]="selectedType === undefined ? '' : selectedType.name"></span>, confermi questa scelta?
  </div>

  <div class="centered-control-container">
    <button mat-raised-button (click)="proceed()">Prosegui</button>
  </div>
</div>
