<div class="selectors-container">
  <mat-grid-list cols="3" rowHeight="40px">
    <mat-grid-tile>
      <button
        mat-mini-fab
        (click)="decreaseValue()"
        [disabled]="minusDisabled">-</button>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="value-shower">
        {{currentValue}}
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-mini-fab
        (click)="increaseValue()"
        [disabled]="plusDisabled">+</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
