<div class="resume-fields"><span class="totals">
    Marziali: <span [innerHTML]="totalMartials"></span>
  </span><span class="totals">
    Mentali: <span [innerHTML]="totalMentals"></span>
  </span>
</div>

<div>
  <table class="chars-table-container">
    <tr>
      <td>
        <table class="chars-table-container">
          <tr *ngFor="let c of martialCharacteristics">
            <td>
              <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="selector-container">
                <div fxFlex class="selector-label-container">
                  {{c.name}}
                </div>
                <div fxFlex class="selector-inside-container">
                  <div class="selector">
                    <app-characteristic-selection
                      [name]="c.name"
                      [minValue]="minimumValue"
                      [maxValue]="5"
                      (selectedValue)="onSelected($event)"
                      [disablePlus]="c.type === 'Marziale' ? disableMartialPlus : disableMentalPlus">
                    </app-characteristic-selection>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td>
        <table class="chars-table-container">
          <tr *ngFor="let c of mentalCharacteristics">
            <td>
              <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="selector-container">
                <div fxFlex class="selector-label-container">
                  {{c.name}}
                </div>
                <div fxFlex class="selector">
                  <app-characteristic-selection
                    [name]="c.name"
                    [minValue]="minimumValue"
                    [maxValue]="5"
                    (selectedValue)="onSelected($event)"
                    [disablePlus]="c.type === 'Marziale' ? disableMartialPlus : disableMentalPlus">
                  </app-characteristic-selection>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
